# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/
application-env/

# pytest
.pytest_cache/
selenium_test.db

# Flask instance/data (if any later)
instance/

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/

# database
instance/
app.db